[Unit]
Description=CBN's distributed currency daemon
After=network.target

[Service]
User=cbn
Group=cbn

Type=forking
PIDFile=/var/lib/cbnd/cbnd.pid

ExecStart=/usr/bin/cbnd -daemon -pid=/var/lib/cbnd/cbnd.pid \
          -conf=/etc/cbn/cbn.conf -datadir=/var/lib/cbnd

ExecStop=-/usr/bin/cbn-cli -conf=/etc/cbn/cbn.conf \
         -datadir=/var/lib/cbnd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
